header {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

main {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
}

.app-container {
  margin: 0 auto;
}

ul {
  list-style: none;
}

.repository-item {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #fff;
  border-radius: 5px;
}

.repository-item div {
  display: flex;
  flex-direction: column;
}